<h1>{{ title }}</h1>

<router-outlet></router-outlet>

<section class="todoapp">

  <section *ngIf="errorMessage">
    <p style="color: red">{{errorMessage | json}}</p>
  </section>

  <header class="header">
    <input class="new-todo" placeholder="Provide a title please?" autofocus=""
           [(ngModel)]="createTodo.title"
           (keyup.enter)="addTodo(createTodo)" (ngModelChange)="resetError()">
  </header>

  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.done">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.done">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)">Remove</button>
        </div>
      </li>
    </ul>
  </section>

  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>

</section>
